body {
  --bar-thickness-px: 50px;
}
h1 {
  margin-bottom: -12px;
}
img {
  max-height: 95%;
}
a {
  max-height: 100%;
  text-decoration: none;
  font-weight: 600;
  color: var(--link-unvisited);
}
a:visited {

}

.light-theme {
  --primary: #000;
  --bg-primary: #fff;
  --bg-secondary: #009efa; /*#f9f9fb for better white*/
  --bg-text: var(--bg-primary);
  --button-bg: var(--bg-primary);
  --button-bg-hover: #aaa;
  --link-unvisited: #009efa;

  color: var(--primary);
  background-color: var(--bg-primary);
}

.dark-theme {
  --primary: #fff;
  --bg-primary: #000;
  --bg-secondary: #005C45;
  --bg-text: #101010;
  --button-bg: var(--bg-secondary);
  --button-bg-hover: #576164AA;
  --link-unvisited: #009efa;

  color: var(--primary);
  background-color: var(--bg-primary);
}