.textbody {
  margin: auto;
  align-self:center;
  padding: var(--bar-thickness-px);;
  padding-top: calc(var(--bar-thickness-px) + 10px);
  background-color: var(--bg-text);
}

.toc-menu { 
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media all and (min-width:1000px) {
  .textbody {
    width: 50%;
  }

  .toc-menu { 
    margin: calc(var(--bar-thickness-px) + 10px);
    margin-left: var(--bar-thickness-px);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media all and (min-width:0px) and (max-width:1000px) {
  .textbody {
    width: 80%;
  }
}

.toc-list {
  list-style-type: none;
  padding-left: 10px;
  margin-top: -15px;
}

.toc-document-anchor {
  position: absolute;
  margin-top: calc(var(--bar-thickness-px)*-1.2);
}

.code {
  position: relative;
  padding: 10px;
  padding-right: 20px;
  margin-top: 20px;
  background-color: var(--code-bg);
  border-width: 10px;
  border-radius: 10px;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.code .clickable {
  background-color: transparent;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15%;
}
.code .clickable:hover {
  background-color: var(--button-bg-hover);
}

.code-copy {
  position: absolute;
  top: 0;
  right: 0;
  filter: invert(var(--icon-filter-invert));
}

.body-image {
  object-fit: cover;
  width: 100%;
}
